.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background: white;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background: white;
}
.navbar{
  padding: 15px 10px;
}
.navbar ul {
  display: flex;
  position: fixed;
  left: -200%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: black;
  width: 100%;
  transition: 0.3s;
  padding: 25px 15px;
}
.navbar.active ul {
  left: 0;
}

.navbar ul li {
  font-size: 18px;
  padding: 9px 0px;
  color: white;
}
.navbar ul li:hover {
  color: #32e0c4;
}
.slide-1 p, .slide-2 p, .slide-3 p, .slide-4 p {
  font-size: 1.5rem!important;
  margin-right: 0px;
  width: 100%;
}
.slide-1 , .slide-2 , .slide-3 , .slide-4  {
  margin-right: 30px;
}

.slide-1 h2, .slide-2 h2, .slide-3 h2, .slide-4 h2 {
  font-size: 3rem!important;
  width: 100%;
}
@media (max-width: 576px) {
  .container{
    width: auto;
  }
  .moblog{
    display: block;
    color: #222831!important;
    font-weight: bold;
    border: 2px solid #222831;
    padding: 0.5rem 2.25rem;
    width: 45%!important;
  }
  .text h1{
    font-size: 1.75rem;
    line-height: 2rem;
  }
  .text p{
    font-size: 1rem;
    width: 350px;
    margin-bottom: 50px;
  }
  header{
    height: 500px;
  }
  .main .first .text h1{
    font-size: 1.75rem;
  }
  .main .first .text p {
    font-size: 1rem;
  }
  .card{
    width: 300px;
  }
  .slide1, .slide2{
    flex-direction: column;
  }
  .slide1{
    margin-right: 65px;
  }
  .third .text{
    margin-bottom: 80px;
  }
  .third .text h1{
    font-size: 1.75rem;
    line-height: 3rem;
  }
  .third .text p{
    font-size: 1rem;
  }
  .third .buttons i{
    padding: 1rem;
  }
  .img-card{
    width: 200px;
    height: 400px;
  }
  .img-card h1{
    font-size: 1.75rem;
  }
  .fifth .container h1{
    margin-top: 0px;
    font-size: 1.75rem;
    padding-top:120px;
  }
  .fifth .container h2{
    font-size: 1.5rem!important;
  }
  .fifth .container   p{
    font-size: 1rem!important;
  }
  .fifth .container .buttons{
    padding: 0rem;
  }
  .fifth .container .buttons i{
    padding: 1rem;
  }
  .mid h1{
    font-size: 1.75rem;
  }
  .accordion > button{
    font-size: 1rem;
  }
  .accordion > p{
    font-size: 1rem;
  }
  .tab-section h1{
    font-size: 1.75rem;
  }
  .tab button{
    padding-left: 0px;
    padding-right: 10px;
  }
  .tabcontent p{
    font-size: 1rem;
  }
  .end .container h1{
    font-size: 1.75rem;
  }
  .need h1{
    font-size: 1.25rem !important;
  }
  .need i{
    font-size: 1.25rem;
  }
  .footer .container > *:last-child{
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .footer .container > *:last-child{
    align-self: auto;
  }
  ul{
    justify-content: center;
    align-items: center;
  }
}