
.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg) !important;
  background: white;
  position: fixed;
  z-index: 1000;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg) !important;
  background: white;
  position: fixed;
  z-index: 1000;
  margin-top: 8px;
}

.navbar{
  padding: 15px 10px;
}
.navbar ul {
  position: fixed;
  left: -200%;
  top: 0px;
  bottom: 0;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  transition: 0.3s;
  padding: 25px 15px;
  z-index: 100;
}
.navbar.active ul {
  left: 0;
  height: 100vh;
  margin-top: 0px;
}

.navbar ul li {
  font-size: 18px;
  padding: 9px 0px;
  color: white;
}
.navbar ul li:hover {
  color: #32e0c4;
}
.img{
  display: none;
}
.img > .ellipse{
  display: none;
}
.card{
  width: 320px;
  margin-bottom: 2rem;
}
.fifth{
  margin-top: 0px;
}
.fifth{
  margin-top: 0px;
}
.panel{
  font-size: 1rem;
}
.need > h1{
  font-size: 3rem;
}
.img-card{
  padding-bottom: 1.5rem;
}

.slide-1 p, .slide-2 p, .slide-3 p, .slide-4 p {
  font-size: 1.5rem!important;
  margin-right: 0px;
  width: 100%;
}
.slide-1 , .slide-2 , .slide-3 , .slide-4  {
  margin-right: 80px;
}

.slide-1 h2, .slide-2 h2, .slide-3 h2, .slide-4 h2 {
  font-size: 3rem!important;
  width: 100%;
}

